@model IEnumerable<SaiSports.Models.tbl_blog>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Home";
	Layout = "_Layout";
}
<style>
	.video-background-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1; /* Make sure video stays behind other elements */
		overflow: hidden;
	}

	.video-background {
		width: 100%;
		height: 100%;
		object-fit: cover; /* Ensures video covers the container */
	}

	.e-con-inner {
		position: relative;
		z-index: 1; /* Ensures content is above the video */
	}
	video {
		z-index:-10;
		background-color:#121212;
		width: 100%; /* 100% width of the parent */
		height: 100%; /* Maintain aspect ratio */
		object-fit: cover; /* Ensures the video fills the container */
	}

	@@media screen and (max-width: 768px) {
		video {
			width: 100%; /* 100% width of the parent */
			height: 100vh; /* Maintain aspect ratio */
			object-fit: cover; /* Ensures the video fills the container */
		}
	}
</style>
<div id="page">
	<div data-elementor-type="wp-page" data-elementor-id="190" class="elementor elementor-190">
		<div class="elementor-element elementor-element-6ba541f e-flex e-con-boxed e-con e-parent" data-id="6ba541f" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<!-- Video Background -->
			<div class="video-background-container">
				<video autoplay loop muted playsinline class="video-background" id="video-background">
					<source src="~/wp-content/intro.mp4" type="video/mp4">
					Your browser does not support the video tag.
				</video>
			</div>

			<div class="e-con-inner">
				<div class="elementor-element elementor-element-29828a0 e-con-full animated-slow e-flex elementor-invisible e-con e-child" data-id="29828a0" data-element_type="container" data-settings="{&quot;animation&quot;:&quot;fadeInLeft&quot;}">
					<div class="elementor-element elementor-element-99bcc5b elementor-widget elementor-widget-heading" data-id="99bcc5b" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<div class="elementor-heading-title elementor-size-default">
								WELCOME TO SAI SPORTS
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-31a4670 elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="31a4670" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h1 class="elementor-heading-title elementor-size-default">
								You Can Always Count on
								Our Premium Quality
							</h1>
						</div>
					</div>
					<div class="elementor-element elementor-element-edfc088 elementor-widget__width-initial elementor-widget elementor-widget-text-editor" data-id="edfc088" data-element_type="widget" data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<p>
								Our service ensures top-quality results, blending expertise and innovation. We focus on delivering tailored solutions with precision, efficiency, and reliability.
							</p>
						</div>
					</div>
					<div class="elementor-element elementor-element-345529d e-con-full e-flex e-con e-child" data-id="345529d" data-element_type="container">
						<div class="elementor-element elementor-element-f1bcde5 elementor-widget elementor-widget-button" data-id="f1bcde5" data-element_type="widget" data-widget_type="button.default">
							<div class="elementor-widget-container">
								<div class="elementor-button-wrapper">
									<a class="elementor-button elementor-button-link elementor-size-sm" asp-action="AboutUs">
										<span class="elementor-button-content-wrapper">
											<span class="elementor-button-text">DISCOVER MORE</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-58d4273 e-con-full e-flex e-con e-child" data-id="58d4273" data-element_type="container">
							<div class="elementor-element elementor-element-e8f17a8 elementor-widget elementor-widget-elementskit-video" data-id="e8f17a8" data-element_type="widget" data-widget_type="elementskit-video.default">
								<div class="elementor-widget-container">
									<div class="ekit-wid-con">
										<div class="video-content" data-video-player="[]" data-video-setting="{&quot;videoVolume&quot;:&quot;horizontal&quot;,&quot;startVolume&quot;:0.8,&quot;videoType&quot;:&quot;iframe&quot;,&quot;videoClass&quot;:&quot;mfp-fade&quot;}">
											<a class="ekit_icon_button glow-btn ekit-video-popup ekit-video-popup-btn" href="https://www.youtube.com/embed/VhBl3dHT5SY?feature=oembed?playlist=VhBl3dHT5SY&amp;mute=0&amp;autoplay=0&amp;loop=no&amp;controls=0&amp;start=0&amp;end=" aria-label="video-popup">
												<i aria-hidden="true" class="fas fa-play"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-72d16b8 elementor-widget elementor-widget-button" data-id="72d16b8" data-element_type="widget" data-widget_type="button.default">
								<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
										<a class="elementor-button elementor-button-link elementor-size-sm" href="#">
											<span class="elementor-button-content-wrapper">
												<span class="elementor-button-text">PLAY VIDEO</span>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		
		<div class="elementor-element elementor-element-11df554 animated-slow e-flex e-con-boxed elementor-invisible e-con e-parent"
			 data-id="11df554" data-element_type="container"
			 data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
			<div class="e-con-inner">
				<div class="elementor-element elementor-element-bff03ed e-con-full e-flex e-con e-child"
					 data-id="bff03ed" data-element_type="container"
					 data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
					<div class="elementor-element elementor-element-237fb71 elementor-position-left elementor-position-left elementor-vertical-align-top elementor-vertical-align-top elementor-widget elementor-widget-image-box"
						 data-id="237fb71" data-element_type="widget" data-widget_type="image-box.default">
						<div class="elementor-widget-container">
							<div class="elementor-image-box-wrapper">
								<figure class="elementor-image-box-img">
									<img decoding="async" width="600"
										 height="600"src="~/wp-content/uploads/sites/17/2023/01/Icon-1.png"
										 class="attachment-full size-full wp-image-32" alt=""
										 srcset="https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Icon-1.png 600w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Icon-1-300x300.png 300w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Icon-1-150x150.png 150w"
										 sizes="(max-width: 600px) 100vw, 600px" />
								</figure>
								<div class="elementor-image-box-content">
									<h4 class="elementor-image-box-title">Excellent Material</h4>
									<p class="elementor-image-box-description">
										Durable material with lasting
										reliability.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-2f16116 e-con-full e-flex e-con e-child"
					 data-id="2f16116" data-element_type="container"
					 data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
					<div class="elementor-element elementor-element-c076ef9 elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box"
						 data-id="c076ef9" data-element_type="widget" data-widget_type="image-box.default">
						<div class="elementor-widget-container">
							<div class="elementor-image-box-wrapper">
								<figure class="elementor-image-box-img">
									<img decoding="async" width="600"
										 height="600"src="~/wp-content/uploads/sites/17/2023/01/Icon-2.png"
										 class="attachment-full size-full wp-image-30" alt=""
										 srcset="https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Icon-2.png 600w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Icon-2-300x300.png 300w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Icon-2-150x150.png 150w"
										 sizes="(max-width: 600px) 100vw, 600px" />
								</figure>
								<div class="elementor-image-box-content">
									<h4 class="elementor-image-box-title">Quality Product</h4>
									<p class="elementor-image-box-description">
										Reliable, high-quality product with
										durability.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-d91f926 e-con-full e-flex e-con e-child"
					 data-id="d91f926" data-element_type="container"
					 data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
					<div class="elementor-element elementor-element-6ee4351 elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box"
						 data-id="6ee4351" data-element_type="widget" data-widget_type="image-box.default">
						<div class="elementor-widget-container">
							<div class="elementor-image-box-wrapper">
								<figure class="elementor-image-box-img">
									<img loading="lazy" decoding="async"
										 width="600" height="600"
										src="~/wp-content/uploads/sites/17/2023/01/Icon-3.png"
										 class="attachment-full size-full wp-image-31" alt=""
										 srcset="https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Icon-3.png 600w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Icon-3-300x300.png 300w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Icon-3-150x150.png 150w"
										 sizes="(max-width: 600px) 100vw, 600px" />
								</figure>
								<div class="elementor-image-box-content">
									<h4 class="elementor-image-box-title">Trusted by Clients</h4>
									<p class="elementor-image-box-description">
										Trusted by clients for reliability,
										quality, and service.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="elementor-element elementor-element-f66d1d7 e-flex e-con-boxed e-con e-parent" data-id="f66d1d7"
			 data-element_type="container">
			<div class="e-con-inner">
				@* <div class="elementor-element elementor-element-53754b0 e-con-full animated-slow e-flex elementor-invisible e-con e-child" *@
				@* 	 data-id="53754b0" data-element_type="container" *@
				@* 	 data-settings="{&quot;animation&quot;:&quot;fadeInLeft&quot;}"> *@
				@* 	<div class="elementor-element elementor-element-2a46e71 elementor-widget elementor-widget-image" *@
				@* 		 data-id="2a46e71" data-element_type="widget" data-widget_type="image.default"> *@
				@* 		<div class="elementor-widget-container"> *@
				@* 			<img loading="lazy" decoding="async" width="700" height="900" *@
				@* 				src="~/wp-content/uploads/sites/17/2023/01/saleswoman-measures-fabric-in-textile-store-Z5W4B3B.jpg" *@
				@* 				 class="attachment-full size-full wp-image-54" alt="" *@
				@* 				 srcset="https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/saleswoman-measures-fabric-in-textile-store-Z5W4B3B.jpg 700w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/saleswoman-measures-fabric-in-textile-store-Z5W4B3B-233x300.jpg 233w" *@
				@* 				 sizes="(max-width: 700px) 100vw, 700px" /> *@
				@* 		</div> *@
				@* 	</div> *@
				@* 	<div class="elementor-element elementor-element-ab2d3ba elementor-widget__width-initial elementor-widget elementor-widget-spacer" *@
				@* 		 data-id="ab2d3ba" data-element_type="widget" data-widget_type="spacer.default"> *@
				@* 		<div class="elementor-widget-container"> *@
				@* 			<div class="elementor-spacer"> *@
				@* 				<div class="elementor-spacer-inner"></div> *@
				@* 			</div> *@
				@* 		</div> *@
				@* 	</div> *@
				@* 	<div class="elementor-element elementor-element-f59ebae elementor-widget elementor-widget-image" *@
				@* 		 data-id="f59ebae" data-element_type="widget" data-widget_type="image.default"> *@
				@* 		<div class="elementor-widget-container"> *@
				@* 			<img loading="lazy" decoding="async" width="1920" height="1280" *@
				@* 				src="~/wp-content/uploads/sites/17/2023/01/cropped-image-of-dressmaker-sewing-cloth-with-sewi-WHDDWPP.jpg" *@
				@* 				 class="attachment-full size-full wp-image-55" alt="" *@
				@* 				 srcset="https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/cropped-image-of-dressmaker-sewing-cloth-with-sewi-WHDDWPP.jpg 1920w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/cropped-image-of-dressmaker-sewing-cloth-with-sewi-WHDDWPP-300x200.jpg 300w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/cropped-image-of-dressmaker-sewing-cloth-with-sewi-WHDDWPP-1024x683.jpg 1024w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/cropped-image-of-dressmaker-sewing-cloth-with-sewi-WHDDWPP-768x512.jpg 768w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/cropped-image-of-dressmaker-sewing-cloth-with-sewi-WHDDWPP-1536x1024.jpg 1536w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/cropped-image-of-dressmaker-sewing-cloth-with-sewi-WHDDWPP-800x533.jpg 800w" *@
				@* 				 sizes="(max-width: 1920px) 100vw, 1920px" /> *@
				@* 		</div> *@
				@* 	</div> *@
				@* </div> *@
				<div class="elementor-element elementor-element-3c30fec e-con-full e-flex e-con e-child"
					 data-id="3c30fec" data-element_type="container">
					<div class="elementor-element elementor-element-d194743 elementor-widget elementor-widget-heading"
						 data-id="d194743" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<div class="elementor-heading-title elementor-size-default">ABOUT SAI SPORTS</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-de46326 animated-slow elementor-invisible elementor-widget elementor-widget-heading"
						 data-id="de46326" data-element_type="widget"
						 data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
						 data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h3 class="elementor-heading-title elementor-size-default">
								Find sports clothing and uniforms.
							</h3>
						</div>
					</div>
					<div class="elementor-element elementor-element-9535ff3 elementor-widget elementor-widget-text-editor"
						 data-id="9535ff3" data-element_type="widget" data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<p>
								Sai Sports is a leading manufacturer of high-quality sportswear. We specialize in
								durable, comfortable, and stylish athletic clothing designed for performance. Our
								products cater to various sports, ensuring comfort, flexibility, and long-lasting
								durability for every athlete.
							</p>
						</div>
					</div>
					@* <div class="elementor-element elementor-element-6d38144 e-con-full e-flex e-con e-child" *@
					@* 	 data-id="6d38144" data-element_type="container"> *@
					@* 	<div class="elementor-element elementor-element-8a798ee e-con-full e-flex e-con e-child" *@
					@* 		 data-id="8a798ee" data-element_type="container"> *@
					@* 		<div class="elementor-element elementor-element-5faaf77 elementor-widget elementor-widget-heading" *@
					@* 			 data-id="5faaf77" data-element_type="widget" data-widget_type="heading.default"> *@
					@* 			<div class="elementor-widget-container"> *@
					@* 				<h4 class="elementor-heading-title elementor-size-default">Our Vision</h4> *@
					@* 			</div> *@
					@* 		</div> *@
					@* 		<div class="elementor-element elementor-element-913b108 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" *@
					@* 			 data-id="913b108" data-element_type="widget" data-widget_type="icon-list.default"> *@
					@* 			<div class="elementor-widget-container"> *@
					@* 				<ul class="elementor-icon-list-items"> *@
					@* 					<li class="elementor-icon-list-item"> *@
					@* 						<span class="elementor-icon-list-icon"> *@
					@* 							<i aria-hidden="true" class="far fa-check-circle"></i> *@
					@* 						</span> *@
					@* 						<span class="elementor-icon-list-text"> *@
					@* 							Top-Quality Sportswear *@
					@* 							Design *@
					@* 						</span> *@
					@* 					</li> *@
					@* 					<li class="elementor-icon-list-item"> *@
					@* 						<span class="elementor-icon-list-icon"> *@
					@* 							<i aria-hidden="true" class="far fa-check-circle"></i> *@
					@* 						</span> *@
					@* 						<span class="elementor-icon-list-text"> *@
					@* 							Focus on Innovation and *@
					@* 							Performance *@
					@* 							sed. *@
					@* 						</span> *@
					@* 					</li> *@
					@* 					<li class="elementor-icon-list-item"> *@
					@* 						<span class="elementor-icon-list-icon"> *@
					@* 							<i aria-hidden="true" class="far fa-check-circle"></i> *@
					@* 						</span> *@
					@* 						<span class="elementor-icon-list-text">Strong, Durable Materials</span> *@
					@* 					</li> *@
					@* 					<li class="elementor-icon-list-item"> *@
					@* 						<span class="elementor-icon-list-icon"> *@
					@* 							<i aria-hidden="true" class="far fa-check-circle"></i> *@
					@* 						</span> *@
					@* 						<span class="elementor-icon-list-text"> *@
					@* 							Support Athletes *@
					@* 							Everywhere *@
					@* 						</span> *@
					@* 					</li> *@
					@* 					<li class="elementor-icon-list-item"> *@
					@* 						<span class="elementor-icon-list-icon"> *@
					@* 							<i aria-hidden="true" class="far fa-check-circle"></i> *@
					@* 						</span> *@
					@* 						<span class="elementor-icon-list-text">Eco-Friendly Manufacturing</span> *@
					@* 					</li> *@
					@* 				</ul> *@
					@* 			</div> *@
					@* 		</div> *@
					@* 	</div> *@
					@* 	<div class="elementor-element elementor-element-c1f95a1 e-con-full e-flex e-con e-child" *@
					@* 		 data-id="c1f95a1" data-element_type="container"> *@
					@* 		<div class="elementor-element elementor-element-efb2e17 elementor-widget elementor-widget-heading" *@
					@* 			 data-id="efb2e17" data-element_type="widget" data-widget_type="heading.default"> *@
					@* 			<div class="elementor-widget-container"> *@
					@* 				<h4 class="elementor-heading-title elementor-size-default">Our Mission</h4> *@
					@* 			</div> *@
					@* 		</div> *@
					@* 		<div class="elementor-element elementor-element-5e9d76e elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" *@
					@* 			 data-id="5e9d76e" data-element_type="widget" data-widget_type="icon-list.default"> *@
					@* 			<div class="elementor-widget-container"> *@
					@* 				<ul class="elementor-icon-list-items"> *@
					@* 					<li class="elementor-icon-list-item"> *@
					@* 						<span class="elementor-icon-list-icon"> *@
					@* 							<i aria-hidden="true" class="far fa-check-circle"></i> *@
					@* 						</span> *@
					@* 						<span class="elementor-icon-list-text">Make quality sportswear</span> *@
					@* 					</li> *@
					@* 					<li class="elementor-icon-list-item"> *@
					@* 						<span class="elementor-icon-list-icon"> *@
					@* 							<i aria-hidden="true" class="far fa-check-circle"></i> *@
					@* 						</span> *@
					@* 						<span class="elementor-icon-list-text"> *@
					@* 							Help athletes perform *@
					@* 							better *@
					@* 						</span> *@
					@* 					</li> *@
					@* 					<li class="elementor-icon-list-item"> *@
					@* 						<span class="elementor-icon-list-icon"> *@
					@* 							<i aria-hidden="true" class="far fa-check-circle"></i> *@
					@* 						</span> *@
					@* 						<span class="elementor-icon-list-text">Focus on comfort</span> *@
					@* 					</li> *@
					@* 					<li class="elementor-icon-list-item"> *@
					@* 						<span class="elementor-icon-list-icon"> *@
					@* 							<i aria-hidden="true" class="far fa-check-circle"></i> *@
					@* 						</span> *@
					@* 						<span class="elementor-icon-list-text">Use durable materials</span> *@
					@* 					</li> *@
					@* 					<li class="elementor-icon-list-item"> *@
					@* 						<span class="elementor-icon-list-icon"> *@
					@* 							<i aria-hidden="true" class="far fa-check-circle"></i> *@
					@* 						</span> *@
					@* 						<span class="elementor-icon-list-text"> *@
					@* 							Promote eco-friendly *@
					@* 							practices *@
					@* 						</span> *@
					@* 					</li> *@
					@* 				</ul> *@
					@* 			</div> *@
					@* 		</div> *@
					@* 	</div> *@
					@* </div> *@
					<div class="elementor-element elementor-element-22bb3f2 elementor-widget elementor-widget-button"
						 data-id="22bb3f2" data-element_type="widget" data-widget_type="button.default">
						<div class="elementor-widget-container">
							<div class="elementor-button-wrapper">
								<a class="elementor-button elementor-button-link elementor-size-sm" asp-action="AboutUs">
									<span class="elementor-button-content-wrapper">
										<span class="elementor-button-text">MORE ABOUT US</span>
									</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="elementor-element elementor-element-5425fa5 e-flex e-con-boxed e-con e-parent" data-id="5425fa5"
			 data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="e-con-inner">
				<div class="elementor-element elementor-element-f940149 elementor-widget__width-initial elementor-widget elementor-widget-heading"
					 data-id="f940149" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h3 class="elementor-heading-title elementor-size-default">Our Industry In Number</h3>
					</div>
				</div>
				<div class="elementor-element elementor-element-5f90b3e elementor-widget elementor-widget-elementskit-funfact"
					 data-id="5f90b3e" data-element_type="widget" data-widget_type="elementskit-funfact.default">
					<div class="elementor-widget-container">
						<div class="ekit-wid-con">
							<div class="elementskit-funfact text-center     ">

								<div class="elementskit-funfact-inner position_top">
									<div class="funfact-icon">
										<i></i>


									</div>

									<div class="funfact-content">
										<div class="number-percentage-wraper">
											<span class="number-percentage" data-value="5000"
												  data-animation-duration="3500" data-style="static">0</span>
											<span class="super">+</span>
										</div>

										<h3 class="funfact-title">Completed Project</h3>
									</div>
								</div>
							</div>


						</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-504f3be elementor-widget elementor-widget-elementskit-funfact"
					 data-id="504f3be" data-element_type="widget" data-widget_type="elementskit-funfact.default">
					<div class="elementor-widget-container">
						<div class="ekit-wid-con">
							<div class="elementskit-funfact text-center     ">

								<div class="elementskit-funfact-inner position_top">
									<div class="funfact-icon">
										<i></i>


									</div>

									<div class="funfact-content">
										<div class="number-percentage-wraper">
											<span class="number-percentage" data-value="120"
												  data-animation-duration="3500" data-style="static">0</span>
											<span class="super">+</span>
										</div>

										<h3 class="funfact-title">Supply Partners</h3>
									</div>
								</div>
							</div>


						</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-0b00d00 elementor-widget elementor-widget-elementskit-funfact"
					 data-id="0b00d00" data-element_type="widget" data-widget_type="elementskit-funfact.default">
					<div class="elementor-widget-container">
						<div class="ekit-wid-con">
							<div class="elementskit-funfact text-center     ">

								<div class="elementskit-funfact-inner position_top">
									<div class="funfact-icon">
										<i></i>


									</div>

									<div class="funfact-content">
										<div class="number-percentage-wraper">
											<span class="number-percentage" data-value="7500"
												  data-animation-duration="3500" data-style="static">0</span>
											<span class="super">+</span>
										</div>

										<h3 class="funfact-title">Satisfied Customer</h3>
									</div>
								</div>
							</div>


						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="elementor-element elementor-element-a2eb7bd e-flex e-con-boxed e-con e-parent" data-id="a2eb7bd"
			 data-element_type="container">
			<div class="e-con-inner">
				<div class="elementor-element elementor-element-dd12c87 elementor-widget elementor-widget-heading"
					 data-id="dd12c87" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<div class="elementor-heading-title elementor-size-default">OUR SERVICE</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-622fc03 animated-slow elementor-invisible elementor-widget elementor-widget-heading"
					 data-id="622fc03" data-element_type="widget"
					 data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
					 data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h3 class="elementor-heading-title elementor-size-default">What We Do</h3>
					</div>
				</div>
				<div class="elementor-element elementor-element-5f9e8dc elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
					 data-id="5f9e8dc" data-element_type="widget" data-widget_type="text-editor.default">
					<div class="elementor-widget-container">
						<p>
							We design high-quality, durable sportswear focused on performance, comfort, and
							flexibility. Our products help athletes perform at their best with long-lasting
							reliability.
						</p>
					</div>
				</div>
				<div class="elementor-element elementor-element-e0f159b e-con-full e-flex e-con e-child"
					 data-id="e0f159b" data-element_type="container">
					<div class="elementor-element elementor-element-1faa8d4 e-con-full animated-slow e-flex elementor-invisible e-con e-child"
						 data-id="1faa8d4" data-element_type="container"
						 data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInLeft&quot;}">
						<div class="elementor-element elementor-element-b833628 elementor-position-top elementor-widget elementor-widget-image-box"
							 data-id="b833628" data-element_type="widget" data-widget_type="image-box.default">
							<div class="elementor-widget-container">
								<div class="elementor-image-box-wrapper">
									<figure class="elementor-image-box-img">
										<img loading="lazy" decoding="async"
											 width="600" height="600"
											src="~/wp-content/uploads/sites/17/2023/01/Service-2.png"
											 class="elementor-animation-grow attachment-full size-full wp-image-36"
											 alt=""
											 srcset="https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Service-2.png 600w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Service-2-300x300.png 300w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Service-2-150x150.png 150w"
											 sizes="(max-width: 600px) 100vw, 600px" />
									</figure>
									<div class="elementor-image-box-content">
										<h4 class="elementor-image-box-title">Custom Clothing Manufacturing</h4>
										<p class="elementor-image-box-description">
											We specialize in the design and
											production of custom uniforms and branded merchandise for sports teams.
										</p>
									</div>
								</div>
							</div>
						</div>
						<!-- <div class="elementor-element elementor-element-9db2547 elementor-align-left elementor-widget elementor-widget-button"
							data-id="9db2547" data-element_type="widget" data-widget_type="button.default">
							<div class="elementor-widget-container">
								<div class="elementor-button-wrapper">
									<a class="elementor-button elementor-button-link elementor-size-sm" href="#">
										<span class="elementor-button-content-wrapper">
											<span class="elementor-button-icon">
												<i aria-hidden="true" class="far fa-arrow-alt-circle-right"></i>
											</span>
											<span class="elementor-button-text">READ MORE</span>
										</span>
									</a>
								</div>
							</div>
						</div> -->
					</div>
					<div class="elementor-element elementor-element-007e084 e-con-full animated-slow e-flex elementor-invisible e-con e-child"
						 data-id="007e084" data-element_type="container"
						 data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInUp&quot;}">
						<div class="elementor-element elementor-element-45eca1b elementor-position-top elementor-widget elementor-widget-image-box"
							 data-id="45eca1b" data-element_type="widget" data-widget_type="image-box.default">
							<div class="elementor-widget-container">
								<div class="elementor-image-box-wrapper">
									<figure class="elementor-image-box-img">
										<img loading="lazy" decoding="async"
											 width="600" height="600"
											src="~/wp-content/uploads/sites/17/2023/01/Service-3.png"
											 class="elementor-animation-grow attachment-full size-full wp-image-37"
											 alt=""
											 srcset="https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Service-3.png 600w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Service-3-300x300.png 300w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Service-3-150x150.png 150w"
											 sizes="(max-width: 600px) 100vw, 600px" />
									</figure>
									<div class="elementor-image-box-content">
										<h4 class="elementor-image-box-title">Bulk or Clothing Production</h4>
										<p class="elementor-image-box-description">
											Efficient production and timely
											delivery of bulk orders for sports clubs, schools, and government
											institutions, ensuring quality.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-6459480 e-con-full animated-slow e-flex elementor-invisible e-con e-child"
						 data-id="6459480" data-element_type="container"
						 data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInRight&quot;}">
						<div class="elementor-element elementor-element-9cdf3fb elementor-position-top elementor-widget elementor-widget-image-box"
							 data-id="9cdf3fb" data-element_type="widget" data-widget_type="image-box.default">
							<div class="elementor-widget-container">
								<div class="elementor-image-box-wrapper">
									<figure class="elementor-image-box-img">
										<img loading="lazy" decoding="async"
											 width="600" height="600"
											src="~/wp-content/uploads/sites/17/2023/01/Service-6.png"
											 class="elementor-animation-grow attachment-full size-full wp-image-34"
											 alt=""
											 srcset="https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Service-6.png 600w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Service-6-300x300.png 300w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Service-6-150x150.png 150w"
											 sizes="(max-width: 600px) 100vw, 600px" />
									</figure>
									<div class="elementor-image-box-content">
										<h4 class="elementor-image-box-title">Fabric Sourcing and Supply</h4>
										<p class="elementor-image-box-description">
											Premium, high-performance
											materials carefully selected to ensure quality, durability, and comfort
											in every garment.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-ee85d86 e-con-full animated-slow e-flex elementor-invisible e-con e-child"
						 data-id="ee85d86" data-element_type="container"
						 data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInLeft&quot;}">
						<div class="elementor-element elementor-element-9aed086 elementor-position-top elementor-widget elementor-widget-image-box"
							 data-id="9aed086" data-element_type="widget" data-widget_type="image-box.default">
							<div class="elementor-widget-container">
								<div class="elementor-image-box-wrapper">
									<figure class="elementor-image-box-img">
										<img loading="lazy" decoding="async"
											 width="600" height="600"
											src="~/wp-content/uploads/sites/17/2023/01/Service-4.png"
											 class="elementor-animation-grow attachment-full size-full wp-image-38"
											 alt=""
											 srcset="https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Service-4.png 600w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Service-4-300x300.png 300w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Service-4-150x150.png 150w"
											 sizes="(max-width: 600px) 100vw, 600px" />
									</figure>
									<div class="elementor-image-box-content">
										<h4 class="elementor-image-box-title">Garment Stitching</h4>
										<p class="elementor-image-box-description">
											We provide precise, durable
											garment stitching for high-quality sportswear, ensuring strength,
											comfort, and a perfect fit.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-1d8a398 e-con-full animated-slow e-flex elementor-invisible e-con e-child"
						 data-id="1d8a398" data-element_type="container"
						 data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInUp&quot;}">
						<div class="elementor-element elementor-element-2d23aae elementor-position-top elementor-widget elementor-widget-image-box"
							 data-id="2d23aae" data-element_type="widget" data-widget_type="image-box.default">
							<div class="elementor-widget-container">
								<div class="elementor-image-box-wrapper">
									<figure class="elementor-image-box-img">
										<img loading="lazy" decoding="async"
											 width="600" height="600"
											src="~/wp-content/uploads/sites/17/2023/01/Service-5.png"
											 class="elementor-animation-grow attachment-full size-full wp-image-33"
											 alt=""
											 srcset="https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Service-5.png 600w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Service-5-300x300.png 300w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Service-5-150x150.png 150w"
											 sizes="(max-width: 600px) 100vw, 600px" />
									</figure>
									<div class="elementor-image-box-content">
										<h4 class="elementor-image-box-title">Private Label Manufacturing</h4>
										<p class="elementor-image-box-description">
											Tailored solutions to bring your
											brand vision to life with high-quality products, crafted to your
											specifications.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-33300b1 e-con-full animated-slow e-flex elementor-invisible e-con e-child"
						 data-id="33300b1" data-element_type="container"
						 data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInRight&quot;}">
						<div class="elementor-element elementor-element-85e07a4 elementor-position-top elementor-widget elementor-widget-image-box"
							 data-id="85e07a4" data-element_type="widget" data-widget_type="image-box.default">
							<div class="elementor-widget-container">
								<div class="elementor-image-box-wrapper">
									<figure class="elementor-image-box-img">
										<img loading="lazy" decoding="async"
											 width="600" height="600"
											src="~/wp-content/uploads/sites/17/2023/01/Service-1.png"
											 class="elementor-animation-grow attachment-full size-full wp-image-35"
											 alt=""
											 srcset="https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Service-1.png 600w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Service-1-300x300.png 300w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Service-1-150x150.png 150w"
											 sizes="(max-width: 600px) 100vw, 600px" />
									</figure>
									<div class="elementor-image-box-content">
										<h4 class="elementor-image-box-title">Custom Apparel</h4>
										<p class="elementor-image-box-description">
											We offer custom apparel, designed
											to meet your unique style and performance needs with precision and
											quality.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="elementor-element elementor-element-bd2b16b e-flex e-con-boxed e-con e-parent pt-0" data-id="bd2b16b"
			 data-element_type="container">
			<div class="e-con-inner  pt-0">
				<div class="elementor-element elementor-element-2cd4df2 e-con-full e-flex e-con e-child"
					 data-id="2cd4df2" data-element_type="container">
					<div class="elementor-element elementor-element-c85bbab elementor-widget elementor-widget-heading"
						 data-id="c85bbab" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<div class="elementor-heading-title elementor-size-default">WHY CHOOSE SAI SPORTS</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-1d9329f animated-slow elementor-invisible elementor-widget elementor-widget-heading"
						 data-id="1d9329f" data-element_type="widget"
						 data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
						 data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h3 class="elementor-heading-title elementor-size-default">
								Lowest Price Guaranteed,
								Quality Never Compromised
							</h3>
						</div>
					</div>
					<div class="elementor-element elementor-element-32efb1c elementor-widget elementor-widget-text-editor"
						 data-id="32efb1c" data-element_type="widget" data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<p>
								We offer the lowest prices without ever compromising on quality. Our commitment to
								excellence ensures you get top-notch products at unbeatable rates. With us, you
								enjoy exceptional value, durable materials, and performance-driven designs, all at a
								price that fits your budget.
							</p>
							<p>
								We design and create high-performance products, focusing on comfort, flexibility, and
								durability. Our solutions are built to meet the needs of athletes and individuals
								who demand the best, offering superior quality, ease of use, and long-lasting
								results.
							</p>
						</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-1a95ec6 e-con-full animated-slow e-flex elementor-invisible e-con e-child"
					 data-id="1a95ec6" data-element_type="container"
					 data-settings="{&quot;animation&quot;:&quot;fadeInRight&quot;}">
					<img style="border:1px solid #285282; border-radius:10px;" src="https://img.freepik.com/premium-photo/factury-manufacture_1292885-14846.jpg?w=740" alt="Alternate Text" />
					
					
					@* <div class="elementor-element elementor-element-0585d50 elementor-widget__width-initial elementor-widget elementor-widget-elementskit-piechart" *@
					@* 	 data-id="0585d50" data-element_type="widget" *@
					@* 	 data-widget_type="elementskit-piechart.default"> *@
					@* 	<div class="elementor-widget-container"> *@
					@* 		<div class="ekit-wid-con"> *@
					@* 			<div class="ekit-single-piechart withcontent"> *@

					@* 				<div class="colorful-chart piechart" data-pie_color_style="normal" *@
					@* 					 data-gradientcolor1="" data-gradientcolor2="" data-color=" #285282" *@
					@* 					 data-barbg="#1D2F40" data-size="150" data-linewidth="5" data-percent="93"> *@
					@* 					<span class="ekit-chart-content">93&#37;</span> *@
					@* 				</div> *@
					@* 				<h2 class="ekit-piechart-title">Machinery &amp; Equipment</h2> *@
					@* 			</div> *@
					@* 		</div> *@
					@* 	</div> *@
					@* </div> *@
				</div>
			</div>
		</div>
		
		<div class="elementor-element elementor-element-b09d321 e-flex e-con-boxed e-con e-parent" data-id="b09d321"
			 data-element_type="container">
			<div class="e-con-inner">
				<div class="elementor-element elementor-element-8647405 elementor-widget elementor-widget-heading"
					 data-id="8647405" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<div class="elementor-heading-title elementor-size-default">OUR PRODUCTS</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-0ee5107 animated-slow elementor-invisible elementor-widget elementor-widget-heading"
					 data-id="0ee5107" data-element_type="widget"
					 data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
					 data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h3 class="elementor-heading-title elementor-size-default">Some of Our Products</h3>
					</div>
				</div>
				<div class="elementor-element elementor-element-98ba902 elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
					 data-id="98ba902" data-element_type="widget" data-widget_type="text-editor.default">
					<div class="elementor-widget-container">
						<p>
							Explore our products, including high-performance sportswear, custom apparel and premium
							accessories, all designed for comfort, quality, and long-lasting performance.
						</p>
					</div>
				</div>
				<div class="elementor-element elementor-element-9df8b21 e-con-full e-flex e-con e-child"
					 data-id="9df8b21" data-element_type="container">
					<div class="elementor-element elementor-element-d0c7a7a elementor-widget__width-initial animated-slow ekit-equal-height-disable elementor-invisible elementor-widget elementor-widget-elementskit-image-box"
						 data-id="d0c7a7a" data-element_type="widget"
						 data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;}"
						 data-widget_type="elementskit-image-box.default">
						<div class="elementor-widget-container">
							<div class="ekit-wid-con">
								<div class="elementskit-info-image-box ekit-image-box text-center style-modern">


									<div class="elementskit-box-header image-box-img-center">

										<img loading="lazy" decoding="async" width="900" height="900"
											 src="https://printingstudio.in/cdn/shop/files/o_neck_front_view.jpg?v=1710333553&width=1946"
											 class="attachment-full size-full wp-image-120" alt=""
											 sizes="(max-width: 900px) 100vw, 900px" />
									</div>

									<div class="elementskit-box-body ekit-image-box-body">
										<div class="elementskit-box-content ekit-image-box-body-inner">
											<h4 class="elementskit-info-box-title">

												Sports T-Shirts

											</h4>
											<div class="elementskit-box-style-content">
												High-quality, comfortable, durable sports t-shirts.
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-6ba2fc4 elementor-widget__width-initial animated-slow ekit-equal-height-disable elementor-invisible elementor-widget elementor-widget-elementskit-image-box"
						 data-id="6ba2fc4" data-element_type="widget"
						 data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
						 data-widget_type="elementskit-image-box.default">
						<div class="elementor-widget-container">
							<div class="ekit-wid-con">
								<div class="elementskit-info-image-box ekit-image-box text-center style-modern">


									<div class="elementskit-box-header image-box-img-center">

										<img loading="lazy" decoding="async" width="900" height="900"
											 src="https://5.imimg.com/data5/CL/LB/MY-60428819/mens-high-neck-tracksuit.jpg"
											 class="attachment-full size-full wp-image-119" alt=""
											 sizes="(max-width: 900px) 100vw, 900px" />
									</div>

									<div class="elementskit-box-body ekit-image-box-body">
										<div class="elementskit-box-content ekit-image-box-body-inner">
											<h4 class="elementskit-info-box-title">

												Sports Track Suits

											</h4>
											<div class="elementskit-box-style-content">
												Durable, comfortable, and stylish sports track suits.
											</div>
										</div>

										@* <div class="elementskit-box-footer"> *@
										@* 	<div class="box-footer"> *@
										@* 		<div class="btn-wraper"> *@
										@* 			<a href="#" class="elementskit-btn whitespace--normal"> *@
										@* 				READ MORE *@
										@* 				<i aria-hidden="true" *@
										@* 				   class="far fa-arrow-alt-circle-right"></i> *@
										@* 			</a> *@
										@* 		</div> *@
										@* 	</div> *@
										@* </div> *@
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-b39c421 elementor-widget__width-initial animated-slow ekit-equal-height-disable elementor-invisible elementor-widget elementor-widget-elementskit-image-box"
						 data-id="b39c421" data-element_type="widget"
						 data-settings="{&quot;_animation&quot;:&quot;fadeInRight&quot;}"
						 data-widget_type="elementskit-image-box.default">
						<div class="elementor-widget-container">
							<div class="ekit-wid-con">
								<div class="elementskit-info-image-box ekit-image-box text-center style-modern">


									<div class="elementskit-box-header image-box-img-center">

										<img loading="lazy" decoding="async" width="900" height="900"
											 src="https://cms.cloudinary.vpsvc.com/image/upload/c_scale,dpr_auto,f_auto,q_auto:good,w_700/India%20LOB/embroidered-clothing/Fleece%20Jackets/IN_Fleece-Jacket_Overview_01"
											 class="attachment-full size-full wp-image-124" alt=""
											 sizes="(max-width: 900px) 100vw, 900px" />
									</div>

									<div class="elementskit-box-body ekit-image-box-body">
										<div class="elementskit-box-content ekit-image-box-body-inner">
											<h4 class="elementskit-info-box-title">

												Fleece Jackets

											</h4>
											<div class="elementskit-box-style-content">
												Warm, soft, and durable fleece jackets.
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-a4db8af elementor-widget__width-initial animated-slow ekit-equal-height-disable elementor-invisible elementor-widget elementor-widget-elementskit-image-box"
						 data-id="a4db8af" data-element_type="widget"
						 data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;}"
						 data-widget_type="elementskit-image-box.default">
						<div class="elementor-widget-container">
							<div class="ekit-wid-con">
								<div class="elementskit-info-image-box ekit-image-box text-center style-modern">


									<div class="elementskit-box-header image-box-img-center">

										<img loading="lazy" decoding="async" width="900" height="900"
											 src="https://5.imimg.com/data5/DO/JU/VF/SELLER-12360878/medical-clothing-500x500.jpg"
											 class="attachment-full size-full wp-image-121" alt=""
											 sizes="(max-width: 900px) 100vw, 900px" />
									</div>

									<div class="elementskit-box-body ekit-image-box-body">
										<div class="elementskit-box-content ekit-image-box-body-inner">
											<h4 class="elementskit-info-box-title">

												Medical Uniform

											</h4>
											<div class="elementskit-box-style-content">
												Comfortable, durable, and professional medical uniforms.
											</div>
										</div>

										
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-30d3b64 elementor-widget__width-initial animated-slow ekit-equal-height-disable elementor-invisible elementor-widget elementor-widget-elementskit-image-box"
						 data-id="30d3b64" data-element_type="widget"
						 data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
						 data-widget_type="elementskit-image-box.default">
						<div class="elementor-widget-container">
							<div class="ekit-wid-con">
								<div class="elementskit-info-image-box ekit-image-box text-center style-modern">


									<div class="elementskit-box-header image-box-img-center">

										<img loading="lazy" decoding="async" width="900" height="900"
											 src="https://img.freepik.com/premium-photo/labor-day-man-worker-builder-safety-helmet-safety-uniform_148391-12901.jpg"
											 class="attachment-full size-full wp-image-123" alt=""
											 sizes="(max-width: 900px) 100vw, 900px" />
									</div>

									<div class="elementskit-box-body ekit-image-box-body">
										<div class="elementskit-box-content ekit-image-box-body-inner">
											<h4 class="elementskit-info-box-title">

												Safety Uniform

											</h4>
											<div class="elementskit-box-style-content">
												Reliable, durable, and protective safety uniforms.
											</div>
										</div>

										
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-af94027 elementor-widget__width-initial animated-slow ekit-equal-height-disable elementor-invisible elementor-widget elementor-widget-elementskit-image-box"
						 data-id="af94027" data-element_type="widget"
						 data-settings="{&quot;_animation&quot;:&quot;fadeInRight&quot;}"
						 data-widget_type="elementskit-image-box.default">
						<div class="elementor-widget-container">
							<div class="ekit-wid-con">
								<div class="elementskit-info-image-box ekit-image-box text-center style-modern">


									<div class="elementskit-box-header image-box-img-center">

										<img loading="lazy" decoding="async" width="900" height="900"
											 src="https://images.jdmagicbox.com/quickquotes/images_main/hotel-uniform-2216959034-q4i88fm2.jpg"
											 class="attachment-full size-full wp-image-122" alt=""
											 sizes="(max-width: 900px) 100vw, 900px" />
									</div>

									<div class="elementskit-box-body ekit-image-box-body">
										<div class="elementskit-box-content ekit-image-box-body-inner">
											<h4 class="elementskit-info-box-title">

												Hospitality Uniform

											</h4>
											<div class="elementskit-box-style-content">
												Elegant and professional hospitality uniforms.
											</div>
										</div>

										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="elementor-element elementor-element-e27915b e-flex e-con-boxed e-con e-parent" data-id="e27915b"
			 data-element_type="container">
			<div class="e-con-inner">
				<div class="elementor-element elementor-element-badf279 e-con-full animated-slow e-flex elementor-invisible e-con e-child"
					 data-id="badf279" data-element_type="container"
					 data-settings="{&quot;animation&quot;:&quot;fadeInLeft&quot;}">
					<div class="elementor-element elementor-element-6ae22c6 e-con-full e-flex e-con e-child"
						 data-id="6ae22c6" data-element_type="container">
						<div class="elementor-element elementor-element-56e8b50 elementor-widget__width-initial elementor-widget elementor-widget-image"
							 data-id="56e8b50" data-element_type="widget" data-widget_type="image.default">
							<div class="elementor-widget-container">
								<img loading="lazy" decoding="async" width="600" height="600"
									src="~/wp-content/uploads/sites/17/2023/01/Step-1.png"
									 class="attachment-full size-full wp-image-130" alt=""
									 srcset="https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Step-1.png 600w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Step-1-300x300.png 300w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Step-1-150x150.png 150w"
									 sizes="(max-width: 600px) 100vw, 600px" />
							</div>
						</div>
						<div class="elementor-element elementor-element-8fb42b6 elementor-widget elementor-widget-icon-box"
							 data-id="8fb42b6" data-element_type="widget" data-widget_type="icon-box.default">
							<div class="elementor-widget-container">
								<div class="elementor-icon-box-wrapper">


									<div class="elementor-icon-box-content">

										<h4 class="elementor-icon-box-title">
											<span>
												Consultation
											</span>
										</h4>

										<p class="elementor-icon-box-description">

											Expert consultation to help you make informed decisions and achieve
											optimal results efficiently.
										</p>

									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-869934b e-con-full e-flex e-con e-child"
						 data-id="869934b" data-element_type="container">
						<div class="elementor-element elementor-element-2da9cc4 elementor-widget__width-initial elementor-widget elementor-widget-image"
							 data-id="2da9cc4" data-element_type="widget" data-widget_type="image.default">
							<div class="elementor-widget-container">
								<img decoding="async" width="600" height="600"
									src="~/wp-content/uploads/sites/17/2023/01/Icon-1.png"
									 class="attachment-full size-full wp-image-32" alt=""
									 srcset="https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Icon-1.png 600w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Icon-1-300x300.png 300w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Icon-1-150x150.png 150w"
									 sizes="(max-width: 600px) 100vw, 600px" />
							</div>
						</div>
						<div class="elementor-element elementor-element-d5addcf elementor-widget elementor-widget-icon-box"
							 data-id="d5addcf" data-element_type="widget" data-widget_type="icon-box.default">
							<div class="elementor-widget-container">
								<div class="elementor-icon-box-wrapper">


									<div class="elementor-icon-box-content">

										<h4 class="elementor-icon-box-title">
											<span>
												Choose Your Material
											</span>
										</h4>

										<p class="elementor-icon-box-description">
											Select the best material for your project, ensuring quality, durability, and performance.
										</p>

									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-4487d17 e-con-full e-flex e-con e-child"
						 data-id="4487d17" data-element_type="container">
						<div class="elementor-element elementor-element-300e734 elementor-widget__width-initial elementor-widget elementor-widget-image"
							 data-id="300e734" data-element_type="widget" data-widget_type="image.default">
							<div class="elementor-widget-container">
								<img loading="lazy" decoding="async" width="600" height="600"
									src="~/wp-content/uploads/sites/17/2023/01/Step-2.png"
									 class="attachment-full size-full wp-image-129" alt=""
									 srcset="https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Step-2.png 600w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Step-2-300x300.png 300w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Step-2-150x150.png 150w"
									 sizes="(max-width: 600px) 100vw, 600px" />
							</div>
						</div>
						<div class="elementor-element elementor-element-d574c14 elementor-widget elementor-widget-icon-box"
							 data-id="d574c14" data-element_type="widget" data-widget_type="icon-box.default">
							<div class="elementor-widget-container">
								<div class="elementor-icon-box-wrapper">


									<div class="elementor-icon-box-content">

										<h4 class="elementor-icon-box-title">
											<span>
												Production
											</span>
										</h4>

										<p class="elementor-icon-box-description">
											Efficient production process ensuring high-quality, products delivered on time and within budget.
										</p>

									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-3d7195b e-con-full e-flex e-con e-child"
						 data-id="3d7195b" data-element_type="container">
						<div class="elementor-element elementor-element-0ce5a1c elementor-widget__width-initial elementor-widget elementor-widget-image"
							 data-id="0ce5a1c" data-element_type="widget" data-widget_type="image.default">
							<div class="elementor-widget-container">
								<img loading="lazy" decoding="async" width="600" height="600"
									src="~/wp-content/uploads/sites/17/2023/01/Service-6.png"
									 class="attachment-full size-full wp-image-34" alt=""
									 srcset="https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Service-6.png 600w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Service-6-300x300.png 300w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/Service-6-150x150.png 150w"
									 sizes="(max-width: 600px) 100vw, 600px" />
							</div>
						</div>
						<div class="elementor-element elementor-element-6d5b60b elementor-widget elementor-widget-icon-box"
							 data-id="6d5b60b" data-element_type="widget" data-widget_type="icon-box.default">
							<div class="elementor-widget-container">
								<div class="elementor-icon-box-wrapper">


									<div class="elementor-icon-box-content">

										<h4 class="elementor-icon-box-title">
											<span>
												The Final Result
											</span>
										</h4>

										<p class="elementor-icon-box-description">

											The final result: high-quality, durable products that meet your expectations and needs.
										</p>

									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-a16f7d8 e-con-full e-flex e-con e-child"
					 data-id="a16f7d8" data-element_type="container">
					<div class="elementor-element elementor-element-c422961 elementor-widget elementor-widget-heading"
						 data-id="c422961" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<div class="elementor-heading-title elementor-size-default">HOW WE WORK</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-ddf4ab7 animated-slow elementor-invisible elementor-widget elementor-widget-heading"
						 data-id="ddf4ab7" data-element_type="widget"
						 data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
						 data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h3 class="elementor-heading-title elementor-size-default">
								Find The Fabric, Enjoy The
								Process and The Results
							</h3>
						</div>
					</div>
					<div class="elementor-element elementor-element-61b214f elementor-widget elementor-widget-text-editor"
						 data-id="61b214f" data-element_type="widget" data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<p>we help you select the perfect fabric for your sportswear needs, ensuring the ideal balance of comfort, durability, and performance. From the initial design to the final product, we guide you through every step of the process. Our goal is to deliver high-quality, performance-driven apparel that not only meets but exceeds expectations. Experience the seamless journey from fabric selection to the outstanding results that support athletes in achieving their best.</p>
							<p>Our team works closely with you throughout the design and production phases, turning your vision into reality with precision and care. From the first stitch to the final product, we ensure the highest standards of quality. The result is sportswear that not only looks great but performs exceptionally well, helping athletes push their limits and achieve their goals.</p>
						</div>
					</div>
					<div class="elementor-element elementor-element-e7b29ab elementor-align-left elementor-widget elementor-widget-button"
						 data-id="e7b29ab" data-element_type="widget" data-widget_type="button.default">
						<div class="elementor-widget-container">
							<div class="elementor-button-wrapper">
								<a class="elementor-button elementor-button-link elementor-size-sm" asp-action="ContactUs">
									<span class="elementor-button-content-wrapper">
										<span class="elementor-button-text">NEED HELP?</span>
									</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="elementor-element elementor-element-99675ee e-flex e-con-boxed e-con e-parent" data-id="99675ee"
			 data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="e-con-inner">
				<div class="elementor-element elementor-element-e23b8af elementor-widget elementor-widget-image-carousel"
					 data-id="e23b8af" data-element_type="widget"
					 data-settings="{&quot;slides_to_show&quot;:&quot;6&quot;,&quot;slides_to_scroll&quot;:&quot;1&quot;,&quot;navigation&quot;:&quot;none&quot;,&quot;autoplay_speed&quot;:3500,&quot;image_spacing_custom&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:80,&quot;sizes&quot;:[]},&quot;slides_to_show_tablet&quot;:&quot;3&quot;,&quot;slides_to_show_mobile&quot;:&quot;2&quot;,&quot;image_spacing_custom_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:35,&quot;sizes&quot;:[]},&quot;autoplay&quot;:&quot;yes&quot;,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;infinite&quot;:&quot;yes&quot;,&quot;speed&quot;:500,&quot;image_spacing_custom_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}"
					 data-widget_type="image-carousel.default">
					<div class="elementor-widget-container">
						<div class="elementor-image-carousel-wrapper swiper" dir="ltr">
							<div class="elementor-image-carousel swiper-wrapper" aria-live="off">
								<div class="swiper-slide" role="group" aria-roledescription="slide"
									 aria-label="1 of 6">
									<figure class="swiper-slide-inner">
										<img decoding="async"
											 class="swiper-slide-image"
											 src="~/wp-content/uploads/sites/17/2023/02/Election-Commision.png"
											 alt="Partner-1" />
									</figure>
								</div>
								<div class="swiper-slide" role="group" aria-roledescription="slide"
									 aria-label="2 of 6">
									<figure class="swiper-slide-inner">
										<img decoding="async"
											 class="swiper-slide-image"
											 src="~/wp-content/uploads/sites/17/2023/02/Indian-Armt.png"
											 alt="Partner-3" />
									</figure>
								</div>
								<div class="swiper-slide" role="group" aria-roledescription="slide"
									 aria-label="3 of 6">
									<figure class="swiper-slide-inner">
										<img decoding="async"
											 class="swiper-slide-image"
											 src="~/wp-content/uploads/sites/17/2023/02/Ncc.png" alt="Partner-5" />
									</figure>
								</div>
								<div class="swiper-slide" role="group" aria-roledescription="slide"
									 aria-label="4 of 6">
									<figure class="swiper-slide-inner">
										<img decoding="async"
											 class="swiper-slide-image"
											 src="~/wp-content/uploads/sites/17/2023/02/Ploice.png" alt="Partner-4" />
									</figure>
								</div>
								<div class="swiper-slide" role="group" aria-roledescription="slide"
									 aria-label="5 of 6">
									<figure class="swiper-slide-inner">
										<img decoding="async"
											 class="swiper-slide-image"
											 src="~/wp-content/uploads/sites/17/2023/02/Railway.png" alt="Partner-2" />
									</figure>
								</div>
								<div class="swiper-slide" role="group" aria-roledescription="slide"
									 aria-label="6 of 6">
									<figure class="swiper-slide-inner">
										<img decoding="async"
											 class="swiper-slide-image"
											 src="~/wp-content/uploads/sites/17/2023/02/sai1.webp" alt="Partner-7" />
									</figure>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="elementor-element elementor-element-afcd83c e-flex e-con-boxed e-con e-parent" data-id="afcd83c"
			 data-element_type="container">
			<div class="e-con-inner">
				<div class="elementor-element elementor-element-2dc7019 elementor-widget elementor-widget-elementskit-testimonial"
					 data-id="2dc7019" data-element_type="widget" data-widget_type="elementskit-testimonial.default">
					<div class="elementor-widget-container">
						<div class="ekit-wid-con">
							<div class="elementskit-testimonial-slider ekit-testimonia-style-4 arrow_inside "
								 data-config="{&quot;rtl&quot;:false,&quot;arrows&quot;:false,&quot;dots&quot;:false,&quot;pauseOnHover&quot;:true,&quot;autoplay&quot;:true,&quot;speed&quot;:1000,&quot;slidesPerGroup&quot;:1,&quot;slidesPerView&quot;:1,&quot;loop&quot;:false,&quot;spaceBetween&quot;:30,&quot;breakpoints&quot;:{&quot;320&quot;:{&quot;slidesPerView&quot;:1,&quot;slidesPerGroup&quot;:1,&quot;spaceBetween&quot;:30},&quot;768&quot;:{&quot;slidesPerView&quot;:1,&quot;slidesPerGroup&quot;:1,&quot;spaceBetween&quot;:30},&quot;1024&quot;:{&quot;slidesPerView&quot;:1,&quot;slidesPerGroup&quot;:1,&quot;spaceBetween&quot;:30}}}">
								<div class="ekit-main-swiper swiper">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="swiper-slide-inner">
												<div class="elementskit-single-testimonial-slider elementskit-testimonial-slider-block-style  elementor-repeater-item-072e8ce">
													<div class="elementskit-commentor-bio ">
														<div class="elementskit-commentor-image ekit-testimonial--avatar">
															<img loading="lazy" decoding="async" width="600"
																 height="600"
																 src="~/wp-content/uploads/sites/17/2023/01/portrait-of-a-young-designer-standing-in-an-office-MX6TE8X.jpg"
																 class="attachment-full size-full" alt=""
																 srcset="https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/portrait-of-a-young-designer-standing-in-an-office-MX6TE8X.jpg 600w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/portrait-of-a-young-designer-standing-in-an-office-MX6TE8X-300x300.jpg 300w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/portrait-of-a-young-designer-standing-in-an-office-MX6TE8X-150x150.jpg 150w"
																 sizes="(max-width: 600px) 100vw, 600px" />
														</div>
														<span class="elementskit-profile-info">
															<strong class="elementskit-author-name">
																Monica
																James
															</strong>
															<span class="elementskit-author-des">Entrepreneur</span>
														</span>
													</div>
													<div class="elementskit-commentor-content">

														<span class="elementskit-watermark-icon ekit_watermark_icon_custom_position">
															<i aria-hidden="true" class="icon icon-quote"></i>
														</span>
														<p>
															"Ut et lorem eu enim mollis pharetra sed vel nisl.
															Suspendisse potenti. Sed pellentesque id ipsum sed
															egestas. Vestibulum auctor porttitor lectus sit amet
															consequat. Pellentesque rutrum risus sed sapien
															ullamcorper tincidunt."
														</p>
													</div><!-- .commentor-content END -->
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="swiper-slide-inner">
												<div class="elementskit-single-testimonial-slider elementskit-testimonial-slider-block-style  elementor-repeater-item-037ce1a">
													<div class="elementskit-commentor-bio ">

														<div class="elementskit-commentor-image ekit-testimonial--avatar">
															<img loading="lazy" decoding="async" width="600"
																 height="600"
																 src="~/wp-content/uploads/sites/17/2023/01/portrait-of-a-young-designer-standing-in-an-office-MX6TE8X.jpg"
																 class="attachment-full size-full" alt=""
																 srcset="https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/portrait-of-a-young-designer-standing-in-an-office-MX6TE8X.jpg 600w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/portrait-of-a-young-designer-standing-in-an-office-MX6TE8X-300x300.jpg 300w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/portrait-of-a-young-designer-standing-in-an-office-MX6TE8X-150x150.jpg 150w"
																 sizes="(max-width: 600px) 100vw, 600px" />
														</div>
														<span class="elementskit-profile-info">
															<strong class="elementskit-author-name">
																Monica
																James
															</strong>
															<span class="elementskit-author-des">Entrepreneur</span>
														</span>
													</div>
													<div class="elementskit-commentor-content">

														<span class="elementskit-watermark-icon ekit_watermark_icon_custom_position">
															<i aria-hidden="true" class="icon icon-quote"></i>
														</span>

														<p>
															"Ut et lorem eu enim mollis pharetra sed vel nisl.
															Suspendisse potenti. Sed pellentesque id ipsum sed
															egestas. Vestibulum auctor porttitor lectus sit amet
															consequat. Pellentesque rutrum risus sed sapien
															ullamcorper tincidunt."
														</p>
													</div><!-- .commentor-content END -->
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="swiper-slide-inner">
												<div class="elementskit-single-testimonial-slider elementskit-testimonial-slider-block-style  elementor-repeater-item-34bc6cc">
													<div class="elementskit-commentor-bio ">

														<div class="elementskit-commentor-image ekit-testimonial--avatar">
															<img loading="lazy" decoding="async" width="600"
																 height="600"
																 src="~/wp-content/uploads/sites/17/2023/01/portrait-of-a-young-designer-standing-in-an-office-MX6TE8X.jpg"
																 class="attachment-full size-full" alt=""
																 srcset="https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/portrait-of-a-young-designer-standing-in-an-office-MX6TE8X.jpg 600w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/portrait-of-a-young-designer-standing-in-an-office-MX6TE8X-300x300.jpg 300w, https://gtkit.rometheme.pro/garmen/wp-content/uploads/sites/17/2023/01/portrait-of-a-young-designer-standing-in-an-office-MX6TE8X-150x150.jpg 150w"
																 sizes="(max-width: 600px) 100vw, 600px" />
														</div>
														<span class="elementskit-profile-info">
															<strong class="elementskit-author-name">
																Monica
																James
															</strong>
															<span class="elementskit-author-des">Entrepreneur</span>
														</span>
													</div>
													<div class="elementskit-commentor-content">

														<span class="elementskit-watermark-icon ekit_watermark_icon_custom_position">
															<i aria-hidden="true" class="icon icon-quote"></i>
														</span>

														<p>
															"Ut et lorem eu enim mollis pharetra sed vel nisl.
															Suspendisse potenti. Sed pellentesque id ipsum sed
															egestas. Vestibulum auctor porttitor lectus sit amet
															consequat. Pellentesque rutrum risus sed sapien
															ullamcorper tincidunt."
														</p>
													</div><!-- .commentor-content END -->
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="elementor-element elementor-element-a423c15 e-flex e-con-boxed e-con e-parent" data-id="a423c15"
			 data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="e-con-inner">
				<div class="elementor-element elementor-element-d6c4c0a elementor-widget elementor-widget-heading"
					 data-id="d6c4c0a" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h3 class="elementor-heading-title elementor-size-default">
							Consult With Us The Suitable
							Material for Your Project
						</h3>
					</div>
				</div>
				<div class="elementor-element elementor-element-d443894 elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
					 data-id="d443894" data-element_type="widget" data-widget_type="text-editor.default">
					<div class="elementor-widget-container">
						<p>
							Our experts guide you through options, ensuring the best quality, durability, and
							performance to meet your specific needs and requirements.
						</p>
					</div>
				</div>
				<div class="elementor-element elementor-element-a4ff994 elementor-align-center elementor-widget elementor-widget-button"
					 data-id="a4ff994" data-element_type="widget" data-widget_type="button.default">
					<div class="elementor-widget-container">
						<div class="elementor-button-wrapper">
							<a class="elementor-button elementor-button-link elementor-size-sm" asp-action="ContactUs">
								<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">CONTACT US</span>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="elementor-element elementor-element-800a3e3 e-flex e-con-boxed e-con e-parent" data-id="800a3e3"
			 data-element_type="container">
			<div class="e-con-inner pb-">
				<div class="elementor-element elementor-element-a640d5c elementor-widget elementor-widget-heading"
					 data-id="a640d5c" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<div class="elementor-heading-title elementor-size-default">BLOG</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-392a3c3 animated-slow elementor-invisible elementor-widget elementor-widget-heading"
					 data-id="392a3c3" data-element_type="widget"
					 data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
					 data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h3 class="elementor-heading-title elementor-size-default">Blog &amp; Articles</h3>
					</div>
				</div>
				<div class="elementor-element elementor-element-daa31c8 elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
					 data-id="daa31c8" data-element_type="widget" data-widget_type="text-editor.default">
					<div class="elementor-widget-container">
						<p>Explore our latest blogs and articles to stay updated on all things sportswear. Stay informed and inspired by our expert advice on sports apparel, fitness, and more!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section style="background-image: url(images/dashed.png);">
		<div class="blog">
			<div class="blog-cards">
				@foreach(var data in Model){

				<div class="blog-card">
					<div class="blog-img">
							<img src="@Url.Content(data.img)" alt="@data.title" srcset="">
					</div>	
					<div class="blog-content">
							<div class="category">@DateTime.Parse(data.date).ToString("dd MMM yyyy")</div>
							<a asp-action="BlogDetail" asp-route-id="@data.id"><h4 class="ellipsis">@data.title</h4></a>
						<p class="multiline-ellipsis">@data.description</p>
						<a asp-action="BlogDetail" asp-route-id="@data.id" class="blog-more-btn">Read More...</a>
					</div>
				</div>
				}
			</div>
		</div>
	</section>
</div>